In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(rc={"figure.figsize": (20, 10)})
plt.rc('figure', figsize=(20, 10))
import numpy as np
from utils import *
import datetime
from sklearn.model_selection import train_test_split
import pdb
import random

Using Theano backend.

# Load Data

In [2]:
data_dir = 'data_new/'

In [ ]:
action04 = pd.read_csv(data_dir+"JData_Action_201604.csv", parse_dates=["time"])
action03 = pd.read_csv(data_dir+"JData_Action_201603.csv", parse_dates=["time"])
action = pd.concat([action04, action03])
action_cate8 = action[action.cate==8]
action_cate8.to_csv(data_dir+"train/action0304_cate8.csv", 
                                                   index=False)

In [3]:
products = pd.read_csv(data_dir+"JData_Product.csv")
users = pd.read_csv(data_dir+"JData_User.csv", encoding='gbk')

## 用户基本信息

In [5]:
def convert_age(age_str):
    if age_str == u'-1':
        return 0
    elif age_str == u'15岁以下':
        return 1
    elif age_str == u'16-25岁':
        return 2
    elif age_str == u'26-35岁':
        return 3
    elif age_str == u'36-45岁':
        return 4
    elif age_str == u'46-55岁':
        return 5
    elif age_str == u'56岁以上':
        return 6
    else:
        return -1

def get_basic_user_feat():
    dump_path = data_dir+'basic_user.pkl'
    if os.path.exists(dump_path):
        user = pickle.load(open(dump_path))
    else:
        user = pd.read_csv(data_dir+"JData_User.csv", encoding='gbk')
        user['age'] = user['age'].map(convert_age)
        age_df = pd.get_dummies(user["age"], prefix="age")
        sex_df = pd.get_dummies(user["sex"], prefix="sex")
        user_lv_df = pd.get_dummies(user["user_lv_cd"], prefix="user_lv_cd")
        user = pd.concat([user['user_id'], age_df, sex_df, user_lv_df], axis=1)
        pickle.dump(user, open(dump_path, 'w'))
    return user

In [6]:
user_basic = get_basic_user_feat()
user_basic

,user_id,age_-1,age_0,age_1,age_2,age_3,age_4,age_5,age_6,sex_0.0,sex_1.0,sex_2.0,user_lv_cd_1,user_lv_cd_2,user_lv_cd_3,user_lv_cd_4,user_lv_cd_5
0,200001,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
1,200002,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0
2,200003,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
3,200004,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
4,200005,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0
5,200006,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
6,200007,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
7,200008,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
8,200009,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
9,200010,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
10,200011,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1
11,200012,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
12,200013,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
13,200014,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
14,200015,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
15,200016,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
16,200017,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
17,200018,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
18,200019,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
19,200020,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
20,200021,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
21,200022,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
22,200023,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
23,200024,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
24,200025,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0
25,200026,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
26,200027,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
27,200028,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
28,200029,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
29,200030,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105291,305292,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
105292,305293,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
105293,305294,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0
105294,305295,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
105295,305296,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
105296,305297,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
105297,305298,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
105298,305299,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
105299,305300,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
105300,305301,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1
105301,305302,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
105302,305303,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
105303,305304,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
105304,305305,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
105305,305306,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
105306,305307,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
105307,305308,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
105308,305309,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
105309,305310,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0
105310,305311,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
105311,305312,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
105312,305313,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
105313,305314,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1
105314,305315,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
105315,305316,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
105316,305317,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
105317,305318,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
105318,305319,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0
105319,305320,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
105320,305321,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0

In [5]:
action_cate8 = pd.read_csv(data_dir+"train/action0304_cate8.csv", parse_dates=["time"])

In [4]:
action_type = pd.read_csv(data_dir+'train/action_type.csv', parse_dates=['date'])

In [4]:
action_type_rich = pd.read_csv(data_dir+'train/action_type_rich.csv', parse_dates=['date'])
action_type_rich

,user_id,sku_id,date,action_type_1,action_type_2,action_type_3,action_type_4,action_type_5,action_type_6,user_count_for_sku,active_users
0,200001.0,14398,2016-03-27,2.0,0.0,0.0,0.0,0.0,4.0,1,32109
1,200001.0,20308,2016-03-27,10.0,2.0,0.0,1.0,0.0,18.0,125,32109
2,200168.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
3,200672.0,20308,2016-03-27,0.0,0.0,0.0,0.0,0.0,3.0,125,32109
4,202710.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,6.0,125,32109
5,203553.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,6.0,125,32109
6,203725.0,20308,2016-03-27,0.0,0.0,1.0,0.0,0.0,0.0,125,32109
7,204819.0,20308,2016-03-27,2.0,1.0,0.0,0.0,0.0,3.0,125,32109
8,205497.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,5.0,125,32109
9,205605.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
10,206181.0,20308,2016-03-27,12.0,0.0,0.0,0.0,0.0,16.0,125,32109
11,207696.0,20308,2016-03-27,0.0,1.0,0.0,0.0,0.0,0.0,125,32109
12,208588.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,8.0,125,32109
13,208734.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,6.0,125,32109
14,211859.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,4.0,125,32109
15,213571.0,20308,2016-03-27,0.0,1.0,0.0,0.0,0.0,7.0,125,32109
16,213666.0,20308,2016-03-27,1.0,0.0,0.0,0.0,0.0,4.0,125,32109
17,213742.0,20308,2016-03-27,2.0,1.0,0.0,0.0,0.0,5.0,125,32109
18,214324.0,20308,2016-03-27,12.0,1.0,0.0,0.0,0.0,14.0,125,32109
19,215286.0,20308,2016-03-27,4.0,0.0,0.0,0.0,0.0,0.0,125,32109
20,216508.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
21,217213.0,20308,2016-03-27,1.0,0.0,0.0,0.0,0.0,0.0,125,32109
22,217304.0,20308,2016-03-27,4.0,0.0,0.0,0.0,0.0,6.0,125,32109
23,218105.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
24,219435.0,20308,2016-03-27,1.0,0.0,0.0,0.0,0.0,2.0,125,32109
25,219905.0,20308,2016-03-27,0.0,0.0,1.0,0.0,0.0,0.0,125,32109
26,221470.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
27,222054.0,20308,2016-03-27,0.0,0.0,1.0,0.0,0.0,0.0,125,32109
28,222317.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,4.0,125,32109
29,222742.0,20308,2016-03-27,2.0,0.0,0.0,0.0,0.0,3.0,125,32109
...,...,...,...,...,...,...,...,...,...,...,...
1738931,302678.0,124458,2016-03-01,2.0,0.0,0.0,0.0,0.0,4.0,1,34213
1738932,302933.0,26303,2016-03-01,2.0,0.0,0.0,0.0,0.0,6.0,1,34213
1738933,303017.0,101604,2016-03-01,2.0,0.0,0.0,0.0,0.0,2.0,1,34213
1738934,303017.0,140477,2016-03-01,8.0,0.0,0.0,0.0,0.0,3.0,1,34213
1738935,304675.0,5455,2016-03-01,4.0,0.0,0.0,0.0,0.0,3.0,1,34213
1738936,304675.0,106054,2016-03-01,2.0,0.0,0.0,0.0,0.0,3.0,1,34213
1738937,304875.0,84254,2016-03-01,2.0,0.0,0.0,0.0,0.0,4.0,1,34213
1738938,203360.0,78694,2016-02-29,18.0,0.0,0.0,0.0,0.0,18.0,2,23
1738939,236278.0,78694,2016-02-29,9.0,0.0,0.0,0.0,0.0,9.0,2,23
1738940,211895.0,276,2016-02-29,2.0,0.0,0.0,0.0,0.0,2.0,1,23
1738941,211895.0,90621,2016-02-29,3.0,0.0,0.0,0.0,0.0,3.0,1,23
1738942,212459.0,10325,2016-02-29,0.0,0.0,0.0,0.0,0.0,1.0,1,23
1738943,213906.0,103132,2016-02-29,4.0,0.0,0.0,0.0,0.0,0.0,2,23
1738944,228692.0,103132,2016-02-29,4.0,0.0,0.0,0.0,0.0,4.0,2,23
1738945,217496.0,59175,2016-02-29,15.0,0.0,0.0,0.0,0.0,15.0,2,23
1738946,271994.0,59175,2016-02-29,2.0,0.0,0.0,0.0,0.0,0.0,2,23
1738947,220734.0,15921,2016-02-29,1.0,0.0,0.0,0.0,0.0,2.0,1,23
1738948,221493.0,126146,2016-02-29,1.0,0.0,0.0,0.0,0.0,1.0,1,23
1738949,230932.0,10133,2016-02-29,1.0,0.0,0.0,0.0,0.0,2.0,1,23
1738950,254402.0,49178,2016-02-29,4.0,0.0,0.0,0.0,0.0,4.0,1,23
1738951,257109.0,60861,2016-02-29,1.0,0.0,0.0,0.0,0.0,1.0,1,23
1738952,257109.0,95850,2016-02-29,0.0,0.0,0.0,0.0,0.0,1.0,1,23
1738953,260904.0,60425,2016-02-29,2.0,0.0,0.0,0.0,0.0,3.0,1,23
1738954,263551.0,15259,2016-02-29,1.0,0.0,0.0,0.0,0.0,1.0,1,23
1738955,263551.0,24371,2016-02-29,1.0,0.0,0.0,0.0,0.0,3.0,1,23
1738956,266935.0,38594,2016-02-29,1.0,0.0,0.0,0.0,0.0,2.0,1,23
1738957,277610.0,125704,2016-02-29,0.0,0.0,0.0,0.0,0.0,1.0,1,23
1738958,290968.0,31662,2016-02-29,1.0,0.0,0.0,0.0,0.0,1.0,1,23
1738959,297032.0,20308,2016-02-29,0.0,0.0,0.0,0.0,0.0,1.0,1,23
1738960,297032.0,36307,2016-02-29,1.0,0.0,0.0,0.0,0.0,1.0,1,23

In [9]:
valid_users = pd.DataFrame(action_type_rich[(action_type_rich.action_type_2 > 0)|(action_type_rich.action_type_5>0)].user_id.unique(), columns=['user_id'])

In [13]:
action_type_valid = pd.merge(action_type_rich, valid_users, on='user_id')
action_type_valid.to_csv(data_dir+'train/action_type_valid.csv', index=False)

## 每种商品每天有多少人有过交互

In [17]:
for (sku_id, date), g in action_type.groupby(['sku_id', 'date'], as_index=False).apply(len).iteritems():
    print sku_id, date, g
    if random.random() > 0.9:
        break

18 2016-03-09 00:00:00 1
95 2016-03-01 00:00:00 2
95 2016-03-02 00:00:00 2
95 2016-03-03 00:00:00 5
95 2016-03-04 00:00:00 3
95 2016-03-05 00:00:00 1
95 2016-03-06 00:00:00 3

In [25]:
result = pd.merge(action_type, pd.DataFrame(action_type.groupby(['sku_id', 'date'], as_index=False).apply(len)), 
         left_on=['sku_id', 'date'], right_index=True)
result = pd.merge(result, pd.DataFrame(action_type.groupby('date').apply(len)),
        left_on=['date'], right_index=True)

In [34]:
result.rename(index=str, columns={'0_x':'user_count_for_sku', '0_y':'active_users'}).to_csv("action_type_rich.csv", index=False)

In [12]:
# target_dates = [['20160311', '20160315'], 
#                     ['20160326', '20160331'], 
#                     ['20160411', '20160416']]
target_dates = pd.date_range('20160311', '20160411', freq='D')
target_dates = [[t.strftime("%Y%m%d"), (t+datetime.timedelta(days=1)).strftime("%Y%m%d")] for t in target_dates]

## Positive Set

In [14]:
pos_dfs = []
for target_date in target_dates:
    buy_action = action_type_valid[(action_type_valid.action_type_4>0)&\
                              (action_type_valid.date >= target_date[0])&(action_type_valid.date < target_date[1])]
    window_start = (datetime.datetime.strptime(target_date[0], '%Y%m%d') - datetime.timedelta(days=10)).strftime("%Y%m%d")
    window_end = target_date[0]
    window_action = action_type_valid[(action_type_valid.date >= window_start)&(action_type_valid.date < window_end)]
    pos = pd.merge(buy_action[['user_id', 'sku_id', 'date']], window_action, on='user_id', how='inner')
    pos['window_start'] = window_start
    pos['window_end'] = window_end
    pos_dfs.append(pos)

all_pos = pd.concat(pos_dfs)

In [25]:
pos_sum_by_date = all_pos.groupby(['user_id', 'date_x'], as_index=False).sum()
pos_valid = pos_sum_by_date[(pos_sum_by_date.action_type_2>0)|(pos_sum_by_date.action_type_5>0)]

In [28]:
pd.merge(all_pos, pos_valid[['user_id', 'date_x']], on = ['user_id', 'date_x'])\
.to_csv(data_dir+"train/positive_valid.csv",
                                index=False, encoding='gbk')

In [12]:
all_pos\
.to_csv(data_dir+"train/positive.csv",
                                index=False, encoding='gbk')

In [29]:
def create_valid(df, fname):
    sum_by_date = df.groupby(['user_id', 'date_x'], as_index=False).sum()
    valid = sum_by_date[(sum_by_date.action_type_2>0)|(sum_by_date.action_type_5>0)] 
    pd.merge(df, valid[['user_id', 'date_x']], on = ['user_id', 'date_x'])\
    .to_csv(data_dir+"train/"+fname+".csv",
                                index=False, encoding='gbk')

SyntaxError: EOL while scanning string literal (<ipython-input-29-554dc2fc6d5c>, line 4)

## Negative Set

In [14]:
neg_dfs = []
cv_neg_dfs = []
for target_date in target_dates:
    buy_action = action_type_valid[(action_type_valid.action_type_4>0)&\
                              (action_type_valid.date == target_date[0])]
    buyer_id = buy_action.user_id.unique()
    all_user_id = action_type_valid[(action_type_valid.date >= target_date[0])&(action_type_valid.date<target_date[1])].user_id.unique()
    cv_neg_id, not_buyer_id = train_test_split(list(set(all_user_id) - set(buyer_id)), test_size=0.02)
    date = datetime.datetime.strptime(target_date[0], "%Y%m%d") + datetime.timedelta(hours=10)
    window_start = (datetime.datetime.strptime(target_date[0], '%Y%m%d') - datetime.timedelta(days=10)).strftime("%Y%m%d")
    window_end = target_date[0]
    arr = [[user_id, 0, date, window_start, window_end] for user_id in not_buyer_id]
    cv_neg_arr = [[user_id, 0, date, window_start, window_end] for user_id in cv_neg_id]
#     not_buyer_action = pd.DataFrame(np.array(not_buyer_id), columns=['user_id'])
    not_buyer_action = pd.DataFrame(np.array(arr), 
            columns=['user_id','sku_id','date','window_start','window_end'])
    
    window_action = action_type_valid[(action_type_valid.date >= window_start)&(action_type_valid.date < window_end)]
    neg = pd.merge(not_buyer_action, window_action, on='user_id', how='inner')
    neg_dfs.append(neg)
    
    if target_date[0] > '20160410':
        cv_neg_action = pd.DataFrame(np.array(cv_neg_arr), 
                columns=['user_id','sku_id','date','window_start','window_end'])
        cv_neg = pd.merge(cv_neg_action, window_action, on='user_id', how='inner')
        cv_neg_dfs.append(cv_neg)
    
all_cv_neg = pd.concat(cv_neg_dfs)
all_neg = pd.concat(neg_dfs)

In [16]:
all_neg.to_csv(data_dir+"train/negative.csv",
                                index=False, encoding='gbk')

In [17]:
all_cv_neg.to_csv(data_dir+"train/cv_negative.csv",
                                index=False, encoding='gbk')

## 测试集

In [ ]:
type_count = {}
for (sid, t), g in action_cate8.groupby(['sku_id', 'type']):
    type_count[(sid, t)] = len(g)

In [ ]:
items = np.hstack((np.array([0]), action_cate8.sku_id.unique()))

users = action_cate8.user_id.unique()

userid2idx = {o:i for i,o in enumerate(users)}
itemid2idx = {o:i for i,o in enumerate(items)}

n_users = len(users)
n_items = len(items)
n_factors = 50
n_users, n_items

In [ ]:
def create_2dcnn_dataset(df):
    dual_group = df.groupby(['user_id', 'sku_id_x', 'window_start'])
    feature = []
    label = []
    for (uid, sid_buy, window_start), g in dual_group:
#         print time_buy
        window = []
        date_range = pd.date_range(start=str(window_start), periods=10, freq='D',closed='left')
#         print date_range
#         pdb.set_trace()
        for d in date_range:
            day_top10 = []
            day = d.strftime("%Y%m%d")
#             pdb.set_trace()
            # 取一天之中action最多的商品
            sku_day = g[g.time_y.dt.strftime("%Y%m%d") == day]
            sku_action_count = sku_day.sku_id_y.value_counts()
            
            if len(sku_action_count) == 0:
                max_sku_ids = []
            else:
                max_sku_ids = sku_action_count.index[np.argsort(sku_action_count)[::-1].values[:10]]
                
            for i in range(10):
                try:
                    max_sku_id = max_sku_ids[i]
                    max_sku_type = sku_day[sku_day.sku_id_y==max_sku_id]['type_y'].value_counts()
                except:
                    max_sku_id = 0
                    max_sku_type = {j:0 for j in range(1,7)}

                c_arr = [0] * 12
                for t, c in max_sku_type.iteritems():
                    t = int(t)
                    c_arr[t-1] = c
                    c_arr[t-1+6] = type_count.get((max_sku_id, t), 0)

                day_top10.append([userid2idx[uid], itemid2idx[max_sku_id]] + c_arr)
                
            window.append(day_top10)
        feature.append(window)
        label.append([itemid2idx[sid_buy], 0 if sid_buy == 0 else 1])
    return np.array(feature), np.array(label)

In [ ]:
import datetime
test_df = pd.DataFrame(action_cate8[action_cate8.time > '20160406'].user_id.unique(), 
                       columns=['user_id']).sample(10)
test_df['time'] = datetime.datetime(2016, 4, 16)
test_df['sku_id'] = 0
test_df['window_start'] = '20160406'
test_df['window_end'] = '20160416'
test_df = pd.merge(test_df, action_cate8[action_cate8.time > '20160406'], on = 'user_id')

test, _ = create_2dcnn_dataset(test_df.rename(index=str, columns={"type": "type_y"}))

utils.save_array('data_new/'+'sample/test_cnn2d', test)

In [ ]:
test = utils.load_array('data_new/test_cnn2d')

In [ ]:
for t in range(2,8):
    plt.figure()
    sns.heatmap(np.sum(test[:, :, :, t], 0)\
                       /float(len(test)), annot=True)

In [ ]:
set_buy = action_cate8[action_cate8.type==4]['sku_id'].unique()
set_positive = all_pos.sku_id_x.unique()
set(set_buy) - set(set_positive)

In [ ]:
action_cate8[(action_cate8.sku_id==26796)&(action_cate8.type==4)]

In [ ]:
action_cate8[(action_cate8.user_id==13636)].sort_values('time')

In [ ]:
train = all_pos[all_pos.time_x < '20160411']
cv = all_pos[all_pos.time_x > '20160411']

In [ ]:
items = action_cate8.sku_id.unique()

users = action_cate8.user_id.unique()

userid2idx = {o:i for i,o in enumerate(users)}
itemid2idx = {o:i for i,o in enumerate(items)}

n_factors = 50
n_users = len(users)
n_items = len(items)
n_users, n_items

In [ ]:
pos_user = len(all_pos.groupby(['user_id', 'sku_id_x']))

In [ ]:
type_count = {}
for (sid, t), g in action_cate8.groupby(['sku_id', 'type']):
    type_count[(sid, t)] = len(g)

In [ ]:
def create_dataset(df):
    tri_group = df.groupby(['user_id', 'sku_id_x'])
    trn = []
    trn_label = []
    for (uid, sid_buy), g in tri_group:
        for oth_sid, og in g.groupby('sku_id_y'):
            c_arr = [0] * 12
            for t, c in g.type_y.value_counts().iteritems():
                c_arr[t-1] = c
                c_arr[t-1+6] = type_count[(oth_sid, t)]
            trn.append([userid2idx[uid], itemid2idx[sid_oth]] + c_arr)
            trn_label.append(itemid2idx[sid_buy])
    return np.array(trn), np.array(trn_label)

## Negtive Dataset

In [ ]:
neg_user = list(set(action_cate8.user_id) - set(all_pos.user_id))

In [ ]:
neg_arr = []
ratio = (1 - pos_user / float(neg_user) / 30)
print ratio
for d in pd.date_range(start='20160315', end='20160416', freq='D'):
    nu = neg_user[np.random.rand(len(neg_user))>ratio]
    for u in nu:
        neg_arr.append([u, 0, d])

neg_df = pd.DataFrame(np.array(neg_arr), columns=['user_id', 'sku_id', 'time'])
neg = pd.merge(neg_df, action_cate8, on='user_id', how='left')
#     action_cate8[(action_cate8.user_id.isin(neg_user))\
#                  &(action_cate8.time.between(window_start, window_end))].to_csv("data/train/negtive.csv", index=False)

In [ ]:
import pdb
neg_dfs = []
ratio = (1 - pos_user / float(len(neg_user)) / 30)
neg_df = None
for d in pd.date_range(start='20160315', end='20160416', freq='D'):
    window_start = d - datetime.timedelta(days=10)
    window_end = d 
    neg_user_sample = np.array(neg_user)[np.random.rand(len(neg_user))>ratio]
    window_data = action_cate8[action_cate8.time.between(window_start, window_end)\
                    &(action_cate8.user_id.isin(neg_user))]
    neg_users_inside_window = window_data.user_id.unique()
    neg_users_sample = neg_users_inside_window[np.random.rand(len(neg_users_inside_window))>ratio]
    neg_data = window_data[window_data.user_id.isin(neg_users_sample)]
    neg_data['time_x'] = d
    neg_data['sku_id_x'] = 0

    neg_dfs.append(neg_data)
    
neg_dfs
#     action_cate8[(action_cate8.user_id.isin(neg_user))\
#                  &(action_cate8.time.between(window_start, window_end))].to_csv("data/train/negtive.csv", index=False)

In [ ]:
neg_df = pd.concat(neg_dfs)

In [ ]:
neg_df.to_csv("data/train/negtive.csv", index=False)

In [ ]:
len(neg.groupby(['user_id', 'sku_id_x', 'sku_id_y']))

In [ ]:
neg['window_end'] = neg.apply(lambda x: \
            datetime.datetime.strptime(x.time_x.strftime("%Y%m%d"), "%Y%m%d"), 1)
neg['window_start'] = neg.apply(lambda x: \
            datetime.datetime.strptime((x.time_x - datetime.timedelta(days=10)).strftime("%Y%m%d"), "%Y%m%d"), 1)

neg[neg.time_y.between(neg.window_start, neg.window_end)]\
    [['user_id', 'sku_id_x', 'sku_id_y', 'time_x', 'time_y', 'model_id', 'type', 'cate', 'brand']]\
                        .to_csv("data/train/negtive.csv",
                                index=False, encoding='gbk')

In [ ]:
np.argmax(neg.sku_id_y.value_counts())
len(neg[neg.sku_id_y==12564])

In [ ]:
items = np.hstack((np.array([0]), action_cate8.sku_id.unique()))

users = action_cate8.user_id.unique()

userid2idx = {o:i for i,o in enumerate(users)}
itemid2idx = {o:i for i,o in enumerate(items)}

n_users = len(users)
n_items = len(items)
n_factors = 50
n_users, n_items

In [ ]:
targets = np.hstack((all_pos['sku_id_x'].unique(), np.array([0])))
targetid2idx = {o:i for i,o in enumerate(targets)}
n_targets = len(targets)
n_targets

In [ ]:
import pdb
def create_cnn_dataset(df):
    dual_group = df.groupby(['user_id', 'sku_id_x', 'time_x'])
    feature = []
    label = []
    for (uid, sid_buy, time_buy), g in dual_group:
#         print time_buy
        window = []
        date_range = pd.date_range(end=time_buy.strftime("%Y%m%d"),
                                   periods=11, freq='D', closed='left')
#         print date_range
        for d in date_range:
            day_top10 = []
            day = d.strftime("%Y%m%d")
#             print day
            # 取一天之中action最多的商品
            sku_day = g[g.time_y.dt.strftime("%Y%m%d") == day]
            sku_action_count = sku_day.sku_id_y.value_counts()
            if len(sku_action_count) == 0:
                max_sku_ids = []
            else:
                max_sku_ids = np.argsort(sku_action_count)[:10]
                
            for i in range(10):
                try:
                    max_sku_id = max_sku_ids.index[i]
                    max_sku_type = sku_day[sku_day.sku_id_y==max_sku_id]['type_y'].value_counts()
                except:
                    max_sku_id = 0
                    max_sku_type = {j:0 for j in range(1,7)}

                c_arr = [0] * 12
                for t, c in max_sku_type.iteritems():
                    c_arr[t-1] = c
                    c_arr[t-1+6] = type_count.get((max_sku_id, t), 0)
                
                day_top10.append([userid2idx[uid], itemid2idx[max_sku_id]] + c_arr)
                
            window.append(day_top10)
        feature.append(window)
        label.append([targetid2idx[sid_buy], 0 if sid_buy == 0 else 1])
    return np.array(feature), np.array(label)

In [ ]:
sample, label_sample = create_cnn_dataset(pos04.head(100))
sample.shape

In [ ]:
import datetime
test_df = pd.DataFrame(action_cate8[action_cate8.time > '20160406'].user_id.unique(), 
                       columns=['user_id'])
test_df['time'] = datetime.datetime(2016, 4, 16)
test_df['sku_id'] = 0
test_df = pd.merge(test_df, action_cate8[action_cate8.time > '20160406'], on = 'user_id')

In [ ]:
test2d, _ = create_cnn_dataset(test_df.rename(index=str, columns={"type": "type_y"}))

In [ ]:
import bcolz
c=bcolz.carray(test, rootdir='test', mode='w')
c.flush()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(rc={"figure.figsize": (20, 10)})
plt.rc('figure', figsize=(20, 10))
import numpy as np
import datetime
from pandas import Timedelta
sns.factorplot(x='time', kind='count', data=action_cate8[action_cate8.type==4])

In [ ]:
from IPython.display import FileLink
FileLink('result.csv')

In [ ]:
np.zeros(6)